#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=https://dl.rockylinux.org/pub/rocky/8/AppStream/x86_64/os/
repo --name="AppStream" --baseurl=https://dl.rockylinux.org/pub/rocky/8/AppStream/x86_64/os

%packages
@^server-product-environment
@infiniband
@network-file-system-client
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp129s0f0 --gateway=10.1.1.1 --ip=10.1.1.248 --nameserver=10.1.1.1 --netmask=255.255.255.0 --activate
network  --bootproto=dhcp --device=enp129s0f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ib0 --onboot=off --ipv6=auto
network  --hostname=SCRUBBED

# Use network installation
url --url="https://dl.rockylinux.org/pub/rocky/8/BaseOS/x86_64/os/"

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda,sdb
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --size=1024
part / --fstype="xfs" --size=71680
part /home --fstype="xfs" --size=152626
part swap --fstype="swap" --size=4096

# System timezone
timezone America/Los_Angeles --isUtc --ntpservers=2.pool.ntp.org,2.pool.ntp.org,2.pool.ntp.org,2.pool.ntp.org,10.1.1.1

# Root password
rootpw --iscrypted SCRUBBED

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
